<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
     <key>DTXApplicationID</key> <string>b6c290f2-2198-45b2-85ab-49c51f233077</string> <key>DTXBeaconURL</key> <string>https://bf83936vxo.bf.dynatrace.com/mbeacon</string> <key>DTXUserOptIn</key> <true/> <key>DTXStartupLoadBalancing</key> <true/> <key>DTXLogLevel</key> <string>ALL</string> 
    <key>DTXFlavor</key>
    <string>flutter</string>
  </dict>
</plist>